<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Science Unit - Unit Converter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <small
            id="version"
            style="float: right;"
        >
            <i>Running on [[${hostname}]] at version [[${version}]]</i>
        </small>
        <div
            id="react-TemperatureConversionGradingApp"
            style="position: absolute;top: 50%;left: 50%;margin-top: -230px;margin-left: -200px;"
        ></div>
        <script src="dist/TemperatureConversionGradingApp.js"></script>
    </body>
</html>